.comment-section{
			background-color:rgba(255,255,255, 0.8);    
			padding:0 10px 10px 10px;
			margin: 30px;
			width:1000px;
			text-align: justify;
			border: inset;
			border-radius: 7px;
			margin-left: 175px;
			min-height: 800px !important;
			padding-bottom: 50px;
			position: relative;
			margin-bottom: 0px !important;
		}
		.komentaru-antraste{
			margin-top: 20px;
			text-align:center;
			font-weight: bold;
			font-family: arial;
		}
		.comment-form{
			margin-left: 80px;
			margin-top:20px;
			margin-bottom:20px;
			
		}
		.comment-form textarea{
			width: 500px !important;
			height: 130px !important;
		}
		.comment{
			color:black !important;
			border: solid 1px red !important;
			background-color: #f4f6f9 !important;
		}
		.comm-text-area{
			
			min-height:400px;
			width:800px;
			margin-left: 80px;
			border-radius: 6px;
			word-wrap: break-word !important;
		}
		.comm-box{
			width:300;
			min-height:60px;
			margin-bottom: 20px;
			background-color: #f4f6f9 !important;
			border-radius:6px;
			padding: 8px 5px;
			color:black !important;
			position: relative !important;

		}
		.comm-box p{
			font-family:arial !important;
			font-size: 12pt ;
			line-height: 16px;
			color:black;
		}
		.comm-text{
			border-top: 1px dashed red;
			margin-top: 7px;
			
			padding-top: 10px;
			font-family:arial !important;
			color:black;	
		}
		.comm-vart{
			font-weight:bold;
			margin-bottom: 7px !important;
		}
		.comm-date{
			font-size: 9pt !important;
		}
		.comm-box:hover{
			background-color:#f7f9fc !important;
		}
		.paveikslelis{
			background-color: grey;
			width:100% !important;
			height:700px !important;
			background-image: url("../img/str1.jpg");
			background-size: cover;   
			background-repeat: no-repeat;
			position:absolute;
			top: 120px;
		}
		.content{
			margin-top: 230px;
			position:relative;
			margin-bottom:;
		}
		.main-article-page{
			background-color: black;
			margin-bottom: 0px !important;
			min-height: 500px;
			padding-bottom: 120px;
			
		}
		.article-footer(
			position:absolute !important;
			top:5000px;
		)
		.comm-edit-button{
			height:50px !important;
			background-color:white;
			color:white !important;
			margin-top: 7px !important;
		}